/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */
.main-section {
    width: 1321px;

}

main {
    background-color: blueviolet;
}

body {
    font-family: 'Poppins', sans-serif;
}

.align {
    display: flex;
    justify-content: center;
}

.background {
    width: 1000px;
    height: 646px;
    background: deepskyblue;
    border-radius: 30px;
}

.back-part-1 {
    color: azure;
    padding: 10px;
}

.font {
    font-size: 40px;
    font-weight: 700;
}

.button {

    text-decoration: none;

}

.size {
    height: 70px;
    width: 180px;
    background: yellow;
    border-radius: 5px;
}

.background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* First-part-close */
.align-1 {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.align-1 {

    display: flex;
    justify-content: center;
}

.button-1 {
    width: 200px;
    height: 64px;
    background: #DD0000;
    border-radius: 10px;
}

.button-2 {
    width: 200px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
}

.middle-part-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.image-vs {
    display: flex;
    flex-direction: row;
}

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;

}

.section {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    width: 1321px;
}

.background-1 {
    background-color: azure;
    width: 312px;
    height: 242px;
}